In [13]:
import numpy as np

In [14]:
from gensim.models import FastText as ft
model=ft.load_fasttext_format("cc.ms.300")

In [17]:
model.vocabulary.vocab_size

1210897

In [21]:
# model.wv['makan']

In [42]:
'najib' in model.wv.vocab

True

In [45]:
!ls ./data/Tweet\ sentiment/

TAGGED_normalised_BR1M_1202.xlsx
TAGGED_normalised_Budget2019_1202.xlsx
TAGGED_normalised_ICERD_1202.xlsx
TAGGED_normalised_PRKCameronHighlands_1202.xlsx
TAGGED_normalised_PRU14_1202.xlsx
TAGGED_normalised_SST_1202.xlsx

In [84]:
import pandas as pd

In [85]:
df1 = pd.read_excel('./data/Tweet sentiment/TAGGED_normalised_BR1M_1202.xlsx')
df2 = pd.read_excel('./data/Tweet sentiment/TAGGED_normalised_Budget2019_1202.xlsx')
df3 = pd.read_excel('./data/Tweet sentiment/TAGGED_normalised_ICERD_1202.xlsx')
df4 = pd.read_excel('./data/Tweet sentiment/TAGGED_normalised_PRKCameronHighlands_1202.xlsx')
df5 = pd.read_excel('./data/Tweet sentiment/TAGGED_normalised_PRU14_1202.xlsx')
df6 = pd.read_excel('./data/Tweet sentiment/TAGGED_normalised_SST_1202.xlsx')

In [71]:
df = pd.concat([df1, df2, df3, df4, df5, df6], axis=1)

In [76]:
print(df.shape)
df.head()

(2448, 14)

,full_text,text4,Sentiment,Remark,Tagged by,#hashtags,#urls,#mentions,#word,#capital,#pos_emojis,#neg_emojis,#emojis,#exclaimation_question
0,RT @bernamadotcom: Malaysia’s Mahathir @chedet...,malaysias mahathir arrives for africa conferen...,neu,NaN,William,0,1,2,13,1,0,0,0,0
1,RT @theedgemarkets: Highlight: Judiciary has z...,highlight judiciary has zero tolerance for cor...,NaN,NaN,NaN,0,1,1,20,2,0,0,0,0
2,RT @BernamaNewsCH: Sultan Johor berkenan mengh...,sultan johor berkenan menghantar dr mahathir k...,pos,NaN,SY,0,0,1,29,1,0,0,0,0
3,RT @bernamadotcom: Perdana Menteri Dr Mahathir...,perdana menteri dr mahathir luang masa hadir p...,pos,compliments,SY,0,0,2,21,2,0,0,0,0
4,RT @bernamadotcom: PM Mahathir @chedetofficial...,pm mahathir arriving at conference center in d...,neu,NaN,William,0,0,2,19,2,0,0,0,0

In [60]:
(~df['sentiment'].isna()).sum()

155

In [83]:
df_list=[df1, df2, df3, df4, df5, df6]

total = 0
for df in df_list:
#     print(df.columns)
    tagged = (~df['Sentiment'].isna()).sum()
    df_len = len(df)
    print(tagged, df_len)
    total+= tagged
    
    
print(total)

155 200
34 34
109 332
174 1699
328 694
398 2448
1198